body {
    font-family: 'Roboto', sans-serif;
}

.subtitle-us {
    text-align: center;
    color: #274B92;
    font-weight: 600;
    font-size: 85px;
    margin: 15px;
}

.first_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.second_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image_nosotros {
    width: 590px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
    margin: 0px 50px;
}

/* Estilo para el cuadro que contiene el texto */
.texto {
    width: 590px;
    height: 270px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 300;
    /*Centrar texto verticalmente*/
    display: flex;
    align-items: center;
    margin: 0px 50px;
}

/* Estilo para los cuadros que contienen el texto */

.texto_uno {
    background-color: #1A6FAC;
    color: #fff;
    text-align: center;
}

.texto_dos {
    background-color: #274B92;
    color: #fff;
    text-align: center;
}

/*Video*/
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.video-container iframe {
    border-radius: 5px;
    width: 50%;
    max-height: 360px;
    max-width: 560px;
    /* Ajusta el ancho máximo según tus necesidades */
}

/*RESPONSIVE DESIGN*/
@media (max-width: 1105px) {

    .first_section,
    .second_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 670px) {
    .texto p {
        font-size: 15px;
    }

    .texto {
        width: 90%;
    }
}